.container {
  background: var(--blue-light);
  border: 1px solid whitesmoke;
  padding: 16px;
  border-radius: 0px 8px;
  z-index: 1000;
  right: 0;
  width: 360px;
  box-shadow: 0px 2px 4px 0px rgba(96, 142, 182, 0.2);
}

.list {
  overflow-y: scroll;
  height: 372px;
}

.listItem {
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0px;
  box-shadow: 0px 2px 4px 0px rgba(96, 142, 182, 0.2);
  color: var(--blue-dark);
  border: 1px solid var(--border-light);
  transition: background 0.3s ease;
  font-size: 13px;
}

.listItem:hover {
  background: var(--blue-base);
  color: white;
  border: 1px solid var(--blue-base);
}
