.notificationBlock {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;
  margin: 0px 16px 0px 16px;
  padding: 8px;
  border-radius: 12px;
  background-color: #ffebea;
}

.textContainer {
  margin-left: 5px;
  margin-top: 2px;
  height: 54px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.28px;
  text-align: left;
  color: #182c4c;
}

.notificationSpan {
  font-weight: 600;
  font-size: 14px;
}

.inboundNotification {
  width: 222px;
  border: 1px solid #fdefef;
  position: absolute;
  background: white;
  z-index: 3000;
  padding: 10px;
  text-align: center;
  top: 70px;
  right: 10px;
  border-radius: 10px;
  color: #32d74b;
}

.alertText {
  color: red;
  margin-bottom: 5px;
}

.alertButton {
  cursor: pointer;
  width: 100%;
  padding: 5px 0px;
  margin: 3px 0px;
  background: #ff9803;
  border: none;
  border-radius: 3px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memberName {
  flex-grow: 0;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: left;
  color: #182c4c;
}

.goToDashboard {
  cursor: pointer;
  flex-grow: 0;
  font-family: Rubik;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: left;
  color: #1084ee;
}
