.heading {
  width: 112px;
  height: 28px;
  margin-left: 16px;
  margin-top: 56px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
}

.bioDataCard {
  width: 336px;
  margin-left: 16px;
  margin-top: 16px;
  background: #07396b;
  border: 1px solid #205284;
  box-sizing: border-box;
  border-radius: 24px;
}

.beneNameAgeGender {
  margin-top: 16px;
  margin-left: 16px;
  width: 272px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ff9800;
}

.bioDataTable {
  margin-left: 16px;
  margin-top: 20px;
  width: 304px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 16px;
}

.bioDataTableColumn {
  padding-bottom: 8px;
  padding-top: 8px;
}

.bioDataKey {
  font-weight: bold;
  width: 96px;
}

.bioDataValue {
  padding-left: 16px;
}
