# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @qa will be requested for
# review when someone opens a pull request before it get's merged
*       @antarahealth/qa-engineering
