.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bioDataCard {
  background: var(--white-100);
  border-left: 1px solid var(--dark-blue-10);
  border-right: 1px solid var(--dark-blue-10);
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.beneNameContainer {
  padding: 8px 0;
  background: var(--white-bg);
  border-bottom: 1px solid var(--dark-blue-10);
  min-height: 48px;
  display: flex;
  align-items: center;
}

.summariesContainer {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.beneNameAgeGender {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 16px;
  color: var(--dark-blue-100);
}

.bioDataTable {
  margin-left: 16px;
  margin-top: 20px;
  width: 304px;
  color: var(--dark-blue-50);
}

.bioDataTableColumn {
  padding-bottom: 8px;
  padding-top: 8px;
  color: var(--dark-blue-100);
}

.bioDataKey {
  width: 96px;
  color: var(--dark-blue-50);
}

.bioDataValue {
  padding-left: 16px;
  color: var(--dark-blue-100);
}

.topSummaryColumns {
  float: left;
  width: 95px;
  color: var(--dark-blue-50);
}

/* Clear floats after the columns */
.topSummaryRow:after {
  content: '';
  display: table;
  clear: both;
}

.topSummaryRow {
  margin-left: 16px;
  margin-top: 16px;
  line-height: 16px;
}

.topSummaryColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 100%;
  color: var(--dark-blue-50);
}

.topSummaryRowContent {
  line-height: 16px;
  width: 64px;
}

.hrLine {
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid var(--dark-blue-10);
  margin-top: 8px;
  margin-bottom: 12px;
}

.clinicalHeading {
  margin-left: 16px;
  color: var(--dark-blue-70);
}

.clinicalTopRow:after {
  content: '';
  display: table;
  clear: both;
}

.clinicalTopRow {
  margin-left: 16px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 16px;
}

.clinicalTopColumns {
  float: left;
  width: 100px;
  color: var(--dark-blue-50);
}

.clinicalTopColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
}

.clinicalTopRowContent {
  line-height: 16px;
  width: 64px;
  color: var(--dark-blue-100);
}

.conditionsHeading {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
  color: var(--dark-blue-50);
  margin-left: 16px;
  margin-top: 12px;
}

.conditionsContent {
  line-height: 16px;
  width: 304px;
  color: var(--dark-blue-100);
  margin-left: 16px;
}

.dateHelperText {
  line-height: 12px;
  margin-top: 4px;
  color: var(--dark-blue-100);
}

.hmpValLabel {
  color: var(--dark-blue-50);
}

.hmpValRow {
  padding-right: 10px;
  justify-content: space-between;
  display: flex;
}

.hmpVal {
  color: var(--dark-blue-100);
}

.clinicalBottomRow:after {
  content: '';
  display: table;
  clear: both;
}

.clinicalBottomRow {
  margin-left: 16px;
  margin-top: 16px;
  line-height: 16px;
}

.clinicalBottomColumns {
  float: left;
  width: 150px;
  color: var(--dark-blue-50);
  padding-right: 8px;
}

.clinicalBottomColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
}

.clinicalBottomRowContent {
  line-height: 16px;
  color: var(--dark-blue-100);
  font-size: 14px;
}

.allergies {
  color: red;
  font-weight: bold;
  padding-right: 12px;
}

.hmps {
  padding-bottom: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
