.title {
  font-size: 15px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0;
}

.fileRows {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 3px 3px;
}

.padNil {
  padding: 0px !important;
}

.red {
  color: var(--red-dark-70);
}

.blue {
  color: var(--blue-light-70);
}

.green {
  color: var(--green-light-70);
}

.padThirty {
  min-width: 30px;
}

.accTitle {
  min-height: 30px !important;
}

.date {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-70);
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.empty {
  display: flex;
  justify-content: center;
  position: relative;
}

.noContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noDocs {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--dark-blue-70);
  margin-top: 10px;
}
.uploadDoc {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--dark-blue-70);
}
.uploadBtn {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 12px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--white);
  margin-top: 10px !important;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 12px;
  border-radius: 12px !important;
  background-color: var(--blue-70);
}

.commonUpload {
  width: 100px !important;
  padding: 6px 50px !important;
  background-color: var(--white) !important;
  color: var(--blue-100) !important;
  box-shadow: none !important;
  margin-bottom: 10px !important;
}

.commonUpload span {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.hmpContent {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.list {
  flex: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.accordionView {
  background-color: var(--white-transparent) !important;
  box-shadow: none !important;
}

.pdf {
  padding: 0 2px;
  border-radius: 2px;
  background-color: var(--red-dark-70);
  font-family: Rubik;
  font-size: 8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.uploadFloatingBox {
  position: absolute;
  height: 100%;
  z-index: 4000;
  top: 0 px;
  background-color: var(--white);
  width: 400px;
  right: 0px;
  -webkit-box-shadow: 0 3px 7px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 20px 800px rgb(0 0 0 / 30%);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.upload {
  width: 100%;
  padding: 16px 0 0;
  background-color: var(--white);
}

.uploadHeader {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--dark-blue-100);
  border-bottom: 1px solid;
  padding: 10px 10px;
  border-color: var(--greyscale-7);
}

.fileName {
  margin-left: 8px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-70);
}

.marginDiff {
  margin-left: 8px;
}

.formContainer {
  padding: 0 10px;
  margin-top: 30px;
}

.formContainer form div select,
.formContainer form div input {
  border: none;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--dark-blue-100);
}

.uploadFormDrawer .MuiPaper-root {
  width: 350px !important;
}

.uploadCancel {
  position: absolute;
  right: 10px;
  top: 10px;
}

.uploadMessage {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: center;
  color: var(--dark-blue-70);
}

.uploadCompleted {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: center;
  color: var(--dark-blue-70);
}

.successMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cancel {
  font-size: 10px !important;
  border: none !important;
  background: var(--white-bg) !important;
  color: var(--dark-blue-70) !important;
}

.tryAgain {
  font-size: 10px !important;
}

.modal {
  height: 90%;
}

.replaceButtons {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.elippsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elippsisText p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploadCancelBtn {
  text-transform: capitalize !important;
  margin: 16px 10px 0 0 !important;
  font-family: Rubik !important;
  font-size: 14px;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--blue-70);
}

.successUpload {
  color: var(--green-100);
}

.fileIcon {
  color: var(--white-50);
}

.alert {
  color: var(--orange-50);
}

.failIcon {
  color: var(--red-50);
}

.fileDetail {
  padding: 0px 10px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchInput {
  width: 75% !important;
}
.viewIcons {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.typeSelection {
  display: flex;
  margin-top: 35px;
  margin-bottom: 25px;
}

.outlinedTypeSelect {
  min-width: 230px !important;
}

#outlinedSelectType {
  padding: 8px !important;
  font-size: 12px !important;
  min-width: 100px !important;
  margin-right: 8px;
}

#outlinedSelectDate {
  padding: 11px !important;
  font-size: 12px !important;
}
.dateSelection {
  margin-left: 5px;
}

.outlinedTypeSelect label {
  top: -2px !important;
  font-size: 13px !important;
  z-index: 0 !important;
}

.mimeSelection div label {
  top: -2px !important;
  font-size: 13px !important;
  z-index: 0 !important;
}

.dateSelection div label {
  top: -2px !important;
  font-size: 13px !important;
  z-index: 0 !important;
}
.mimeSelection {
  border-color: grey;
  flex: 0.1;
  background: transparent;
  height: 30px;
  border-radius: 8px;
}

.loadedFileUploadOptions {
  position: absolute;
  border: 1px solid #f3ecec;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  left: -162px;
  top: 33px;
  z-index: 10001;
  box-shadow: 0 2.8px 2.2px 0 rgb(0 0 0 / 2%), 0 6.7px 5.3px 0 rgb(0 0 0 / 3%),
    0 12.5px 10px 0 rgb(0 0 0 / 4%), 0 22.3px 17.9px 0 rgb(0 0 0 / 4%),
    0 41.8px 33.4px 0 rgb(0 0 0 / 5%), 0 100px 80px 0 rgb(0 0 0 / 7%);
}

.emptyFileUploadOptions {
  position: absolute;
  border: 1px solid #f3ecec;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  top: 185px;
  z-index: 10001;
  box-shadow: 0 2.8px 2.2px 0 rgb(0 0 0 / 2%), 0 6.7px 5.3px 0 rgb(0 0 0 / 3%),
    0 12.5px 10px 0 rgb(0 0 0 / 4%), 0 22.3px 17.9px 0 rgb(0 0 0 / 4%),
    0 41.8px 33.4px 0 rgb(0 0 0 / 5%), 0 100px 80px 0 rgb(0 0 0 / 7%);
}

.uploadText {
  flex-direction: column;
  align-items: self-start;
  margin-left: 10px;
  text-transform: none;
}

.upText {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.upTextSummary {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-50);
}

.input {
  width: 300px;
  margin: 8px;
  padding: 4px;
  border: 1px solid #f5f1f1;
  border-radius: 3px;
}

.paste {
  width: 318px;
  padding: 10px;
}

.upBtn {
  text-transform: none !important;
  font-size: 12px !important;
  padding: 0 5px !important;
  width: 110px !important;
}

.urlError {
  flex-grow: 0;
  margin-left: 5px;
  font-family: Rubik;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--red-dark-70);
}

.scopedUpload {
  padding: 1px 9px !important;
  border-radius: 8px !important;
  border-color: #1976d2 !important;
  margin-right: 5px !important;
  font: 12px !important;
}

.listIcon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.gridIcon {
  width: 20px;
  height: 20;
  cursor: pointer;
}

.titleName {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--dark-blue-100);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.fileMime {
  display: flex;
  justify-content: center;
}

.docPad {
  padding: 3px;
}

.gridComponent {
  width: 150px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: solid 1px var(--dark-blue-10);
  background-color: var(--white-100);
}

.docTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-left: 3px;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.docDate {
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-50);
}

.fileRenderIcon {
  color: #cfe6fc;
}

.fileRenderIcon:hover {
  color: #1084ee;
}

.shareBtn {
  padding: 0.25rem;
  margin: 0 0.25rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  color: var(--blue-100);
}

.shareDocModal {
  min-width: 350px;
  padding: 12px 12px 10px;
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px 0 rgba(0, 0, 0, 0.03), 0 12.5px 10px 0 rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px 0 rgba(0, 0, 0, 0.04), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.05),
    0 100px 80px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px var(--dark-blue-10);
  background-color: var(--white-100-fff);
}

.shareDocTitle {
  width: 129px;
  height: 18px;
  margin: 0 75px 16px 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: center;
  color: var(--dark-blue-100);
}

.appFolder {
  height: 14px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-50);
}

.styledBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 12px;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.cancelBtn {
  color: var(--dark-blue-100);
  flex-grow: 1;
}

.shareFileBtn {
  background-color: var(--blue-100) !important;
  color: var(--white-100) !important;
  flex-grow: 1;
}

.docInfoHeader {
  height: 28px;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--dark-blue-100);
}

.docInfoText {
  height: 20px;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--dark-blue-100);
}

.docInfoSubtext {
  height: 18px;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-50);
}
