/* global css */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@400;500&family=Source+Sans+Pro:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --orange-base: #ff9800;
  --orange-dark: #955b05;
  --orange-light: #ffeccf;
  --blue-base: #608eb6;
  --blue-dark: #205284;
  --blue-light: #c6dfeb;
  --blue-bg: #ebeff3;
  --greyscale-3: #cccccc;
  --greyscale-1: #222222;
  --greyscale-2: #777777;
  --greyscale-4: #eeeeee;
  --greyscale-5: #f5f5f5;
  --dark: #1f2532;
  --neutral-base: rgb(247, 247, 247);
  --neutral-darker: #e8e8e8;
  --neutral-light: #fafafa;
  --white: #ffffff;
  --border-regular: rgb(204, 204, 204);
  --border-light: #eeeeee;
  --turquoise-base: #42bcda;
  --purple-base: #26187b;
  --purple-light: #e0ddf1;
  --purple-dark: #1f1849;
  --nav-bg: #07396b;
  --turquoise-base: #42bcda;
  --yellow-dark: #806c15;
  --red-base: #d56261;
  --green-base: #8ab98e;
}

::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--blue-base);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  border: solid 3px transparent;
}

html,
body,
#root,
.appContainer {
  height: 100%;
}

.dashboard-container {
  background: var(--white);
  flex: 1;
  border-radius: 16px 0 0 0;
  height: calc(100% - 64px);
}

.dashboard-content {
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.dashboard-raised-content {
  background: var(--white);
  border-right: 1px solid var(--blue-light);
  border-radius: 16px 0 0 0;
  box-shadow: 0px 2px 4px 0px rgba(96, 142, 182, 0.1);
}

/* typography */

h1,
.text-heading-1 {
  font-family: 'Rubik';
  font-size: 29px;
  line-height: 34px;
  font-weight: 500;
}

h2,
.text-heading-2 {
  font-family: 'Rubik';
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

h3,
.text-heading-3 {
  font-family: 'Rubik';
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

h4,
.text-heading-4 {
  font-family: 'Rubik';
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

h5,
.text-heading-5 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

h6,
.text-heading-6 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.heading-caption {
  font-family: 'Karla';
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-normal {
  font-family: 'Karla';
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-small {
  font-family: 'Karla';
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.text-tiny {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: var(--blue-dark);
}

.text-bold {
  font-weight: 700;
}

.logo {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: var(--white);
}

.hnos {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: var(--blue-light);
}

.text-white {
  color: var(--white);
}

.text-blue-light {
  color: var(--blue-light);
}

.text-blue-dark {
  color: var(--blue-dark);
}

.text-danger {
  color: var(--red-base);
}

.text-warning {
  color: var(--yellow-dark);
}

.text-success {
  color: var(--green-base);
}

.text-disabled {
  color: var(--greyscale-3);
}

.text-primary {
  color: var(--orange-base);
}

.text-capitalize {
  text-transform: capitalize;
}
/** flex **/
.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-one {
  flex: 1;
}

.tippy-popper .tippy-tooltip.tooltip-theme * {
  background: #fff5d2 !important;
  color: var(--greyscale-1);
  font-family: 'Rubik' !important;
  font-size: 12px;
  word-wrap: break-word;
}

/** buttons **/
button.btn-unstyled {
  background: none;
  border: none;
  outline: none;
}

button.btn {
  border-radius: 12px;
  padding: 13px;
  font-family: Rubik;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  height: 44px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.btn:disabled {
  color: var(--greyscale-3);
}

button.btn-icon {
  padding: 0.25rem;
  margin: 0 0.25rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn-icon.active {
  background: white;
  box-shadow: 0px 8px 16px rgba(56, 94, 126, 0.2);
  border-radius: 12px;
}

button.btn-small {
  width: 40px;
  height: 24px;
  border-radius: 12px;
}

button.btn-primary {
  background: var(--orange-base);
  box-shadow: 0px 8px 16px rgba(255, 152, 0, 0.3);
  color: #ffffff;
}

button.btn-secondary {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(56, 94, 126, 0.2);
  color: var(--orange-base);
}

button.btn-list {
  display: flex;
  justify-content: space-between;
  width: 95%;
  cursor: pointer;
  flex-direction: column;
  margin-bottom: 24px;
  border-radius: 8px;
  transition: background-color width 0.3s ease;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

button.btn-list:hover {
  background-color: var(--orange-light);
  border-radius: 8px;
}

/** lists **/

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item:hover {
  background: var(--orange-light);
}

.list-item-heading {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #608eb6;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.list-item-description {
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 1rem;
}

.list-item-active {
  color: #ff9800;
}

.divider {
  border: 0.5px solid var(--border-light);
  width: 90%;
}

.list-item {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

/** Spacing **/
.margin-24 {
  margin: 24px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-left-8 {
  margin-left: 8px;
}

/** Positioning **/
.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-32 {
  padding-top: 32px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.appContainer {
  background: var(--neutral-base);
}

.card {
  border: 0.1px solid var(--border-regular);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

a {
  cursor: pointer;
  color: var(--turquoise-base);
  text-decoration: none;
}

/* Animations */

.red-dot_svg__blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
