@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appContainer {
    background: whitesmoke;
}

.card {
    border: 1px solid lightgrey;
    border-radius: .5rem;
    padding: .5rem
}

.bold {
    font-weight: 500;
}

.text-danger {
    color: red;
}

a {
    cursor: pointer;
}

.tabs {
    box-shadow: 0px 2px 4px rgba(96, 142, 182, 0.15) !important;
}

.MuiTab-wrapper {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #222222; /* Grey/greyscale-1 */
}

.MuiTab-textColorPrimary.Mui-selected {
    background: #FAFAFA;
}