.tabContent {
  height: 70vh;
  overflow-y: scroll;
  margin-top: 44px;
}

.tabs {
  display: flex;
  color: var(--blue-base);
  margin-bottom: 44px;
  margin-right: 24px;
}

.tabs > .active {
  color: var(--orange-base);
}

.tab {
  margin-right: 24px;
  height: 44px;
}
