.tabWrapper {
    display: flex; 
    flex: 1;
}

.tabWrapper.horizontal {
  height: calc(100% - 48px);
  margin-top: 16px;
  flex-direction: column;
}


.tabContent {
  overflow-y: scroll;
  flex: 1;
}

.tabContent.horizontal {
  margin-top: 32px;
}

.tabContent.vertical {
  background-color: var(--blue-bg);
  padding: 0px 4px 4px 8px;
}

.tabs {
  display: flex;
  color: var(--blue-base);
}


.tabs.vertical {
  flex-direction: column;
}

.tabs > .active {
  color: var(--orange-base);
}

.tab.horizontal{
  margin-right: 24px;
  height: 44px;
}

.tab.vertical{
  display: flex;
  flex-direction: column;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px 0px 0px 4px;
}

.tab.vertical.active {
  background: var(--blue-bg);
  font-weight: bold;
}
