.header {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.workflowHeaderText {
  margin-bottom: 8px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-blue-50);
}

#newWorkflowBtn {
  text-transform: none;
  padding-left: 0;
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--blue-100);
}

.workflowDropDownContainer {
  position: absolute;
  min-width: 200px;
  z-index: 2000;
}

.workflowOptions {
  cursor: pointer;
  text-transform: none !important;
  justify-content: flex-start !important;
}

.workflowDropDown button {
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.workflowDropDownPortal {
  border-radius: 0px !important;
  height: 400px;
}

.workflowDropDown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-100);
  align-items: stretch;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px 0 rgba(0, 0, 0, 0.03), 0 12.5px 10px 0 rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px 0 rgba(0, 0, 0, 0.04), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.05),
    0 100px 80px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px var(--white-bg);
  /* height: 400px; */
  overflow: scroll;
}

.guidedWorkflow {
  width: 601px;
  height: 546px;
  border-radius: 12px !important;
  box-shadow: 0 2.8px 2.2px 0 rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px 0 rgba(0, 0, 0, 0.03), 0 12.5px 10px 0 rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px 0 rgba(0, 0, 0, 0.04), 0 41.8px 33.4px 0 rgba(0, 0, 0, 0.05),
    0 100px 80px 0 rgba(0, 0, 0, 0.07) !important;
  background-color: var(--white-100) !important;
}

.workflowTitleContainer {
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: space-between;
  cursor: move;
  position: relative;
  background-color: var(--orange-100);
}

.workflowTitle {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--orange-20);
}

.workflowDialogueContent {
  height: 90%;
}

.btnContainer {
  height: 10%;
}
.workflowDialogueContentGrid {
  height: 100%;
  border-bottom: 1px solid var(--dark-blue-10);
  overflow: hidden;
  position: relative;
}

.identifier {
  font-size: 10px;
  color: var(--dark-blue-100);
}

.forms {
  margin: 40px 0;
}

.stickyHeader {
  position: fixed;
  width: 64%;
  padding-top: 8px;
  background: white;
  z-index: 1000;
}

.componentGrid {
  overflow: scroll;
  height: 100%;
  /* padding: 8px; */
  overflow-x: hidden;
  /* position: relative */
}

.componentGridForm {
  overflow: scroll;
  height: 100%;
  /* padding: 8px; */
  overflow-x: hidden;
  position: relative;
}

.workflowTablesActive {
  align-self: stretch;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-stretch: normal;
  width: 100%;
  font-style: normal;
  text-transform: none !important;
  line-height: 1.29;
  letter-spacing: -0.28px !important;
  text-align: left;
  color: var(--orange-100) !important;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 12px;
  background-color: var(--orange-10) !important;
}

.workflowTables {
  justify-content: flex-start !important;
  width: 100%;
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px !important;
  text-align: left !important;
  color: var(--dark-blue-100) !important;
}

.addModule {
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  width: 100%;
  justify-content: flex-start !important;
  text-align: left;
  text-transform: none !important;
  color: var(--blue-100) !important;
}

.completeWorkflow {
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--blue-100);
  border-radius: 12px !important;
  background-color: var(--blue-10) !important;
}

.saveDraftBtn {
  margin-right: 8px !important;
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--dark-blue-100);
  border-radius: 12px !important;
  background-color: var(--white-bg) !important;
}

.submitModuleBtn {
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--white-100) !important;
  border-radius: 12px !important;
  background-color: var(--blue-100) !important;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}

.fieldsLoader {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}
.singleSelectView {
  margin: 8px 0 0 0 !important;
  min-width: 90% !important;
}

.radioBtn,
.textField {
  width: -webkit-fill-available !important;
}

.textField {
  margin-left: 0px !important;
}

.radioGroup {
  flex-direction: row !important;
  width: 100%;
}

.checkBoxRender {
  flex-direction: row !important;
}

.radioBtn,
.fieldMargin,
.multiSelectBtn {
  margin: 8px 0 15px 0 !important;
}

.uploadError {
  position: absolute;
  width: 60%;
  z-index: 2000;
  top: 56px;
  background: red;
  padding: 5px;
  border-radius: 5px;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--white-bg) !important;
}

.submitting {
  margin-right: 5px;
}

.flowHeader {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  margin: 18px 0px 10px 0px !important;
  color: var(--dark-blue-100);
}

.workflowBtn {
  border-radius: 5px !important;
  padding: 3px 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 12px 0px !important;
  text-transform: capitalize !important;
  background-color: var(--blue-10) !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--blue-100) !important;
}

.flowId {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.flowResumeDate {
  flex-grow: 0;
  opacity: 0.5;
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.modulesList {
  height: 400px;
  position: absolute;
  top: 0;
  width: 200px !important;
  left: 0 !important;
}

.modulesListContainer {
  overflow: scroll;
}

.ongoingContainer {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: var(--white-bg);
  align-items: center;
}

.ongoingContainer:hover {
  background-color: var(--dark-blue-10);
}

.selectModule {
  background: var(--orange-50);
}

.workflowList {
  height: 249px;
  overflow: scroll;
}

.selectModule {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--greyscale-1);
}

.successModal {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  left: 21%;
  top: 15%;
  padding: 20px;
  border-radius: 12px !important;
  box-shadow: 0 2.8px 2.2px 0 rgb(0 0 0 / 2%), 0 6.7px 5.3px 0 rgb(0 0 0 / 3%),
    0 12.5px 10px 0 rgb(0 0 0 / 4%), 0 22.3px 17.9px 0 rgb(0 0 0 / 4%),
    0 41.8px 33.4px 0 rgb(0 0 0 / 5%), 0 100px 80px 0 rgb(0 0 0 / 7%) !important;
  background-color: var(--blue-10) !important;
}

.successModal p {
  font-family: 'Rubik';
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

.successModal button {
  width: 100px;
  display: flex !important;
  justify-content: center !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: left;
  text-transform: none !important;
}

.successModalBtns {
  display: flex;
  width: 300px;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.successModalBtns .finish {
  margin-left: 30px;
  background: var(--red-70) !important;
}
.successModal span {
  margin-top: 10px;
  margin-bottom: 10px;
}

.moduleName {
  margin: 0 8px 0 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.confirmButton button {
  padding: 0 5px !important;
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--white-100) !important;
  border-radius: 3px !important;
}

.helperText {
  white-space: pre-line;
  margin-bottom: 10px;
  color: var(--dark-blue-50);
  font-size: small;
}
.formHelperText {
  white-space: pre-line;
  margin-bottom: 10px;
  color: var(--dark-blue-50);
  margin-top: 30px;
  font-size: small;
}
.fieldLabel {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-100);
}

.fieldLabelBlurred {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: var(--dark-blue-50);
}

.fieldLabelError {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  margin-bottom: 25px;
  color: var(--red-100) !important;
}

.textfieldError div input {
  border: 1px solid var(--red-100) !important;
  border-radius: 3px;
}

.datefieldError div div input {
  border: 1px solid var(--red-100) !important;
  border-radius: 3px;
}

.datefieldError {
  margin: 8px 0 15px 0 !important;
}

.tblList {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.fieldNameError {
  flex-grow: 0;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  /* margin-bottom: 15px; */
  color: var(--red-100);
}

.autoComplete {
  margin-bottom: 15px;
}

.autoCompleteError {
  margin-bottom: 15px !important;
}

.errorAnchor .MuiPaper-root {
  min-width: 150px !important;
}

.addModuleIcon {
  color: var(--white-50);
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.textField input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.statusText {
  margin-left: 10px;
  font-size: 9px;
  padding: 3px 7px;
  background: yellow;
  color: #783434;
  width: 60px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
}

.statusTextSubmitted {
  margin-left: 10px;
  font-size: 9px;
  width: 60px;
  display: flex;
  justify-content: center;
  background: var(--green-100);
  color: var(--white-100);
  padding: 3px 7px;
  font-weight: bold;
  border-radius: 5px;
}
.searchInputWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
  padding: 0px 3px;
}

.recordLoader {
  display: flex;
  font-size: 12px;
}

.wrapperClassName {
  border: 1px solid var(--greyscale-3) !important;
  border-radius: 4px;
}

.editorClassName {
  padding: 5px;
}

.richTextField {
  border: 1px solid var(--greyscale-3);
  padding: 10px;
  border-radius: 4px;
  min-height: 50px;
}
.calendarLinkBtn {
  font-size: 11px !important;
  text-transform: capitalize !important;
  font-family: Rubik, sans-serif;
}

.fieldWrapper {
  position: relative;
}

.linkButton {
  z-index: 1000;
  position: absolute !important;
  bottom: 60px;
  font-size: 11px !important;
  text-transform: capitalize !important;
  font-family: Rubik, sans-serif;
}

.universalLoader {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1200;
  background: white;
  opacity: 0.6;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdropText {
  display: flex;
  flex-direction: column;
}

.deleteSubModule {
  margin-left: 10px;
}

.subModuleHeader {
  display: flex;
  align-items: center;
}
.formHelper {
  white-space: pre-line;
  margin-bottom: 15px;
  color: var(--dark-blue-50);
  font-size: 14px;
}
