.alertContainer {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: -2.5rem;
  position: relative;
  z-index: 10;
  gap: 0px 8px;
  font-family: Rubik;
  font-size: 14px;
}
.sucessAlert {
  background-color: var(--green-10);
  color: var(--green-100);
  text-align: left;
}
.errorAlert {
  background-color: var(--red-10);
  color: var(--red-100);
  text-align: left;
}
.infoAlert {
  background-color: #efeff3;
  color: var(--dark-blue-100);
  text-align: left;
}
