.container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  text-align: start;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 1px solid var(--blue-light);
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  border-color: var(--orange-base);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  right: 4px;
  top: 4px;
  width: 2px;
  height: 5px;
  border: solid var(--blue-base);
  border-width: 7px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
