.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: var(--white);
  color: var(--blue-base);
  border: 1px solid var(--blue-light);
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.6s ease;
  width: 100%;
}

.accordion:focus {
  outline-color: var(--orange-base);
}

.accordion:hover,
.active {
  background-color: var(--orange-light);
}

.accordion__title {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: auto;
  transition: height 0.6s ease;
  overflow: hidden;
}

.accordion__text {
  height: 100%;
}
