.navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: var(--nav-bg);
  padding: 0 0.5rem;
  height: 4rem;
}

.navbarLogo {
  height: 60px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.drawer {
  width: 15rem;
  flex-shrink: 0;
}

.drawerHeader {
  display: flex;
  justify-content: flex-end;
}
