.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 .5rem;
}

.navbarLogo {
    height: 60px;
}

.logoContainer {
    display: flex;
}

.drawer {
    width: 15rem;
    flex-shrink: 0;
}

.drawerHeader {
    display: flex;
    justify-content: flex-end;
}

