.sidebar {
  display: flex;
  flex-direction: column;
  width: 7rem;
  background-color: var(--nav-bg);
}

.active > .menuLink {
  border-left: 4px solid var(--orange-base);
}

.menuItem {
  height: 9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuLink {
  padding: 1rem;
  flex: 2;
}

.menuItem.active {
  background-color: white;
}

.borderItemTop {
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 0 0 24px;
}

.borderItemBottom {
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 0 24px 0 0;
}

.borderItemTop,
.borderItemBottom {
  width: 100%;
  background-color: var(--nav-bg);
  flex: 1;
}

.logo {
  text-align: center;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}
