.sidebar {
  display: flex;
  flex-direction: column;
  width: 7rem;
  background-color: var(--nav-bg);
}

.active .menuLink {
  border-left: 4px solid var(--orange-base);
}

.active svg {
  fill: var(--blue-dark);
}

.menuLink:hover > h5 {
  color: var(--orange-base);
}

.menuItem {
  height: 9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuLink {
  padding: 1rem;
  flex: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.menuItem.active {
  background-color: var(--white);
}

.borderItemTop {
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 0 0 24px;
}

.borderItemBottom {
  width: 100%;
  background-color: var(--nav-bg);
  border-radius: 0 24px 0 0;
}

.borderItemTop,
.borderItemBottom {
  width: 100%;
  background-color: var(--nav-bg);
  flex: 1;
}

.logoContainer {
  text-align: center;
  padding: 1.75rem 2.25rem 0.875rem 1.75rem;
}

.logo {
  padding: 3rem;
}

a {
  width: 100%;
}
