.searchWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.searchResultsWrap {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  object-fit: contain;
  max-height: 400px;
  overflow: scroll;
  z-index: 2000;
  border: solid 1px #c6dfeb;
  background-color: #ffffff;
}

.resultItem {
  flex: 1;
  display: flex;
  padding: 8px;
}

.resultItem a {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #222222;
}

.searchInputWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 2;
  border-radius: 12px;
  padding: 0px 12px;
  border: solid 1px #d1d5db;
  background-color: #f9fafc;
}

.search {
  background: transparent;
  border: none;
  padding: 12px 8px;
  font-size: 16px;
  flex: 1;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-family: 'Rubik';
  line-height: 1.25;
  letter-spacing: normal;
  color: #8b95a5;
}
.search:focus {
  border: none;
  outline: none;
}

.search::placeholder {
  color: #8b95a5;
}

.noResultWrap {
  padding: 12px;
  color: var(--greyscale-3);
  font-family: 'Rubik';
}

.noResultMsg {
  color: var(--greyscale-1);
  padding-bottom: 8px;
  display: inline-block;
}

.noResultSuggestion {
  list-style: disc;
  color: var(--greyscale-2);
  list-style-position: inside;
}

.noResultSuggestion li {
  list-style: inherit;
}

.loadingIcon {
  padding-top: 14px;
}
