.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.bioDataCard {
  background: var(--white-100);
  border-left: 1px solid var(--dark-blue-10);
  border-right: 1px solid var(--dark-blue-10);
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  height: 7px;
}

.hrLine {
  border: 1px solid var(--dark-blue-10);
  margin: 2rem 1rem;
}

.beneNameContainer {
  padding: 8px 0;
  background: var(--white-bg);
  border-bottom: 1px solid var(--dark-blue-10);
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summariesContainer {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.beneNameAgeGender {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 16px;
  color: var(--dark-blue-100);
}

.bioDataTable {
  margin-left: 16px;
  margin-top: 20px;
  width: 304px;
  color: var(--dark-blue-50);
}

.bioDataTableColumn {
  padding-bottom: 8px;
  padding-top: 8px;
  color: var(--dark-blue-100);
}

.bioDataKey {
  width: 96px;
  color: var(--dark-blue-50);
}

.bioDataValue {
  padding-left: 16px;
  color: var(--dark-blue-100);
}

.topSummaryColumns {
  float: left;
  width: 95px;
  color: var(--dark-blue-50);
}

/* Clear floats after the columns */
.topSummaryRow:after {
  content: '';
  display: table;
  clear: both;
}

.topSummaryRow {
  margin-left: 16px;
  margin-top: 16px;
  line-height: 16px;
}

.topSummaryColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 100%;
  color: var(--dark-blue-50);
}

.topSummaryRowContent {
  line-height: 16px;
  width: 64px;
}

.clinicalHeading {
  margin-left: 16px;
  color: var(--dark-blue-70);
  margin-bottom: 1rem;
}

.clinicalTopRow:after {
  content: '';
  display: table;
  clear: both;
}

.clinicalTopRow {
  margin-left: 16px;
  margin-top: 16px;
  font-weight: bold;
  line-height: 16px;
}

.clinicalTopColumns {
  float: left;
  width: 100px;
  color: var(--dark-blue-50);
}

.clinicalTopColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
}

.clinicalTopRowContent {
  line-height: 16px;
  width: 64px;
  color: var(--dark-blue-100);
}

.conditionsHeading {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
  color: var(--dark-blue-50);
  margin-left: 16px;
  margin-top: 12px;
}

.conditionsContent {
  line-height: 16px;
  width: 304px;
  color: var(--dark-blue-100);
  margin-left: 16px;
}

.dateHelperText {
  line-height: 12px;
  margin-top: 4px;
  color: var(--dark-blue-100);
}

.hmpValLabel {
  color: var(--dark-blue-50);
}

.hmpValRow {
  padding-right: 10px;
  justify-content: space-between;
  display: flex;
}

.hmpVal {
  color: var(--dark-blue-100);
}

.clinicalBottomRow:after {
  content: '';
  display: table;
  clear: both;
}

.clinicalBottomRow {
  margin-left: 16px;
  margin-top: 16px;
  line-height: 16px;
}

.clinicalBottomColumns {
  float: left;
  width: 150px;
  color: var(--dark-blue-50);
  padding-right: 8px;
}

.clinicalBottomColumnHeadings {
  /* border-bottom: 1px solid #ff9800; */
  line-height: 16px;
  width: 84px;
}

.clinicalBottomRowContent {
  line-height: 16px;
  color: var(--dark-blue-100);
  font-size: 14px;
}

.allergies {
  color: red;
  font-weight: bold;
  padding-right: 12px;
}

.hmps {
  padding-bottom: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrow {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.terms {
  font-size: 14px;
  background-color: orange;
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.insMissing {
  font-size: 14px;
  background-color: var(--red-100);
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.termsSent {
  font-size: 14px;
  background-color: var(--white-100);
  color: var(---dark-blue-10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  padding: 3px !important;
}
.termsBox {
  font-size: 14px;
  background-color: var(--white-100);
  color: var(---dark-blue-10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  white-space: nowrap;
}
.termsText {
  font-size: 14px !important;
  color: var(--white-100) !important;
}
.termsButton {
  color: var(--dark-blue-100) !important;
  background-color: var(--white-100) !important;
  text-transform: none !important;
  margin-top: 2px !important;
  width: fit-content;
}
.tags {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: left;
  color: var(--dark-blue-70);
  margin-left: 2px;
  margin-top: 2px;
}
.tags:hover {
  background-color: var(--orange-20);
}
.tagContainer {
  padding: 16px;
}

.dependentLength {
  margin-left: 16px;
  font-size: 14px;
  color: #182c4c;
}

.dependentsDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.noBenefits {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-align: center;
  margin-top: 2%;
  padding: 5px 16px 8px 16px;
}

.sideBySideList {
  color: #182c4c;
  font-size: 13px;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 5px 0 8px 16px;
  align-items: flex-start;
  margin-top: 3%;
  margin-bottom: 3%;
}

.insuranceDashboard {
  padding: 8px 0 8px 16px;
  font-size: 13px;
}

.actionBtn {
  text-transform: none !important;
  font-family: Rubik !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: var(--white-100) !important;
  border-radius: 12px !important;
  background-color: var(--blue-100) !important;
}
.universalLoader {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1200;
  background: white;
  opacity: 0.6;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdropText {
  display: flex;
  flex-direction: column;
}
