.animatedDiv {
    animation: fadeIn 0.2s;
    height: auto;
    z-index: 1;
  }
  
  @keyframes fadeIn {
    from {
      margin-top: -10px;
      opacity: 0.5;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }