.container {
  display: flex;
}

.utilityView {
  flex: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: var(--white);
}

.primaryView {
  flex: 2;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background: var(--white);
}

.card {
  border: 1px solid lightgray;
  border-radius: 0.625rem;
}

.utilityViewTitle {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.formName {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #608eb6;
}

.formDescription {
  font-family: 'Karla', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 1rem;
}

.formInactive {
  color: #608eb6;
}

.formActive {
  color: #ff9800;
}

.divider {
  border: 0.5px solid #eeeeee;
  width: 60%;
}

.formBlock {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.defaultViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
  flex-direction: column;
}

.defaultViewPrimaryText {
  font-family: 'Rubik';
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  width: 18.19rem;
  height: 4.25rem;
  text-align: center;
}

.defaultViewSecondaryText {
  width: 252px;
  height: 20px;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #222222;
  margin-top: 1rem;
}
